"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
"
"               ██╗   ██╗██╗███╗   ███╗██████╗  ██████╗
"               ██║   ██║██║████╗ ████║██╔══██╗██╔════╝
"               ██║   ██║██║██╔████╔██║██████╔╝██║
"               ╚██╗ ██╔╝██║██║╚██╔╝██║██╔══██╗██║
"                ╚████╔╝ ██║██║ ╚═╝ ██║██║  ██║╚██████╗
"                 ╚═══╝  ╚═╝╚═╝     ╚═╝╚═╝  ╚═╝ ╚═════╝
"
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Configure leader key
let mapleader = ","

""" Common VIM settings ------------------
set number
set relativenumber
set showmode

""" Idea specific settings ------------------
" https://raw.githubusercontent.com/wiki/JetBrains/ideavim/set-commands.md
set ideajoin
set ideastatusicon=gray
set ideamarks
set ideaput

""" IdeaVim development stuff ------------------
set ideastrictmode

""" Easy motion plugin ------------------
Plug 'easymotion/vim-easymotion'
" https://github.com/AlexPl292/IdeaVim-EasyMotion#supported-commands
" enable <leader>s{char}{char} to search
map <leader>s <Plug>(easymotion-s)

if has('ide')
  " mappings and options that exist only in IdeaVim
  map <leader>f <Action>(GotoFile)
  map <leader>r <Action>(ReplaceInPath)
  map <leader>g <Action>(FindInPath)
  map <leader>b <Action>(Switcher)

  if &ide =~? 'intellij idea'
    if &ide =~? 'community'
      " some mappings and options for IntelliJ IDEA Community Edition
    elseif &ide =~? 'ultimate'
      " some mappings and options for IntelliJ IDEA Ultimate Edition
    endif
  endif
endif